
<<<<<<< HEAD
  
  .slider-container {
    width: 100%;
    height: 50vh;
    position: relative;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .slide.active {
    opacity: 1;
    position: relative;
  }
  
  .slide-image {
    width: 100%;
    height: 60vh;
  }
  
  .slider .description {
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    color: #555;
  }
  
.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
    max-width: 100%;
    text-align: center;
    color: rgba(60, 199, 250, 0.914);
  }
  
  .schedulepart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    background: linear-gradient(to bottom, rgba(82, 82, 82, 0.23), rgba(0, 0, 0, 0.8));
  }
  
  .schedulepart .upcoming {
    flex: 1;
    
  }
  
  .schedulepart .upcoming .team h3 {
    font-weight: 300;
    color: white;
  }
  
  .schedulepart .upcoming .team {
    background-color: rgba(255, 255, 255, 0.17);
    padding: 75px 0;
    margin: 75px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: inset;
  }
  
  .schedulepart .upcoming .team img {
    width: 200px;
    height: 150px;
    padding: 35px;
    margin: auto;
    padding-top: 0;
  }
  
  .schedulepart .upcoming .team ul {
    display: flex;
    flex-direction: row;
  }
  
  .schedulepart .upcoming .team ul li {
    list-style: none;
    padding: 10px;
    font-size: 25px;
    color: white;
    font-weight: 300;
  }
  
  .schedulepart .schedule {
    flex: 1;
    
  }
  
  .schedulepart .schedule table {
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: inset;
    color: white;
    padding: 30px;
  }
  
  .schedulepart .schedule table tr:nth-child(odd) {
    background: #002147;
    margin: 10px;
    padding: 10px;
  }
  
  .schedulepart .schedule tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.17);
  }
  
  .schedulepart .schedule table tr td {
    display: flexbox;
    padding: 15px;
    justify-content: space-between;
  }
  
  /* Media query for smaller screens (adjust the max-width as needed) */
  @media screen and (max-width: 768px) {
    .schedulepart {
      flex-direction: column;
      align-items: stretch;
    }
  
    .schedulepart .upcoming,
    .schedulepart .schedule {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1073px) {
    .schedulepart {
      flex-direction: column;
      align-items: stretch;
    }
  
    .schedulepart .upcoming,
    .schedulepart .schedule {
      width: 100%;
    }
   
=======
/* Default styles for larger screens */
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;
  max-width: 100%;
  text-align: center;
  color: rgba(60, 199, 250, 0.914);
}

.schedulepart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  background: linear-gradient(to bottom, rgba(82, 82, 82, 0.23), rgba(0, 0, 0, 0.8));
}

.schedulepart .upcoming {
  flex: 1;
  
}

.schedulepart .upcoming .team h3 {
  font-weight: 300;
  color: white;
}

.schedulepart .upcoming .team {
  background-color: rgba(255, 255, 255, 0.17);
  padding: 75px 0;
  margin: 75px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: inset;
}

.schedulepart .upcoming .team img {
  width: 200px;
  height: 150px;
  padding: 35px;
  margin: auto;
  padding-top: 0;
}

.schedulepart .upcoming .team ul {
  display: flex;
  flex-direction: row;
}

.schedulepart .upcoming .team ul li {
  list-style: none;
  padding: 10px;
  font-size: 25px;
  color: white;
  font-weight: 300;
}

.schedulepart .schedule {
  flex: 1;
  
}

.schedulepart .schedule table {
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: inset;
  color: white;
  padding: 30px;
}

.schedulepart .schedule table tr:nth-child(odd) {
  background: #002147;
  margin: 10px;
  padding: 10px;
}

.schedulepart .schedule tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.17);
}

.schedulepart .schedule table tr td {
  display: flexbox;
  padding: 15px;
  justify-content: space-between;
}

/* Media query for smaller screens (adjust the max-width as needed) */
@media screen and (max-width: 768px) {
  .schedulepart {
    flex-direction: column;
    align-items: stretch;
  }

  .schedulepart .upcoming,
  .schedulepart .schedule {
    width: 100%;
>>>>>>> 7049bfaadff65d98f7c558e5e690a8ff67f834be
  }
}


<<<<<<< HEAD
  
  
  
  
=======
.each-slide-effect>div{
  display:flex;
  justify-content: center;
  background-size: cover;
  height: auto;
}

.each-slide-effect img
{
width:100%;
height:500px;
}
>>>>>>> 7049bfaadff65d98f7c558e5e690a8ff67f834be
